/* .flex-container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: tomato;
    padding: 2px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    line-height: 200px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 5rem;
} */


/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);
#kan { font-family: "Noto Sans Kannada", sans-serif;} */

.titlebar {
    display: flex;
    background: deepskyblue;
    /* background-image: linear-gradient(to right, black , deepskyblue); */
    list-style: none;
    justify-content: space-evenly;
    margin-top: 0;
    /* padding: 10px; */
    /* padding: 10px 16px; */
    border: none;
    overflow: hidden;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    
}

.menus a {
    text-decoration: none;
    padding: 1em;
    font-family: cursive;
}

.menus {
    font-size: 1.5rem;
    font-weight: 400;
}

.menus a{
    color:white;
}

.menus>li>a:hover {
    background: rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-top: 10px;
    height: 10px;
}

.menus:hover .submenu {
    display: inline-block;
    
    /* color: black;      */
}

.submenu {
    /* margin-top: 10px; */
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    background-color: wheat
    min-width: 80px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    
    /* font-size: 1.5 rem; */
  
  }

.submenu li {
    /* color: black; */
    padding: 6px 10px;
    display: block;
    list-style: none;
    
  }

  .submenu a {
    color: teal;
    /* padding: 6px 10px; */
    padding: 0;
    margin-left: -25;
    margin-right: 8;
    /* display: inline-flexbox; */
    font-family: cursive;
    font-size: 0.70em;
    text-align: left;
    transition: 0.3s;
    float: none;
  }

  .submenu>li>a:hover {
    margin-bottom:1px;
    padding-right: unset;
    color:tan;
    /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  }

  .active, .menus:hover {
    background: rgb(0, 0, 0);
}

.menus>li {
    padding: 10px 16px;
    font-size: 18px;
  }
  
/* .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
    background: deepskyblue;
} */

/* a {
    margin: 20px;
    color: white;
    padding: 2px;
    line-height: 20px;
    height: 20px;
    font-size: 1.5rem;
    
} */

/* .submenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  

.wrapper a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em;
    font-size: 2rem;
}

.wrapper:hover .submenu {
    display: block;
    color: black;
    list-style: none;
}
.wrapper a:hover {
    background: black;

} */

/* .navigation li:last-of-type a {
    border-bottom: none;
  }
} */

/* .wrapper a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    font-size: 5rem;
  } */
/* 
@media all and (max-width: 800px) {
    .wrapper {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .wrapper {
      flex-flow: row row-reverse;
      padding: 0;
    } */

